:root {
    --white: #FFF;
    --fontBlue: #007AFF;
    --backgroundMessage: #EEF2F8;
}

hr {
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}

.p-footer {
    padding: 0px 23px 15px 0;
}

.reset-mb {
    margin-bottom: 0.5rem;
}

.reset-mb-modal {
    margin-bottom: 1rem;
}

.reset-ml {
    margin-left: 0rem;
}

.col-lg-4.col-profile {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    text-align: center;
}

.box-picture-profile-config img {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border: solid 2px #d4d4d4;
    border-radius: 150px;
}

.box-picture-profile-config .transition-effect {
    text-align: center;
    position: absolute;
    width: 210px;
    height: 208px;
    border-radius: 216px;
    z-index: 99;
    margin-top: 10%;
    cursor: pointer;
}

.box-picture-profile-config .picture-profile .icon-add-photo {
    right: 90px;
    top: 76px;
    z-index: 99;
}

.box-picture-profile-config .picture-profile .picture-profile-title {
    font-size: 20px;
    top: 106px;
    left: 54px;
}

.privacy-policy .title {
    position: absolute;
    margin-left: 60px;
}

.privacy-policy .custom-toggle-slider.rounded-circle {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.opt-in .right span,
.opt-out .right span,
.automatic-messages .right span,
.closed-message .right span,
.welcome-message .right span,
.privacy-policy .right span {
    font-size: 0.8rem;
    display: block;
}

.opt-in .right button,
.opt-out .right button,
.closed-message .right button,
.automatic-messages .right button,
.welcome-message .right button,
.privacy-policy .right button {
    background-color: #90A0C0;
    color: var(--white);
    border: none;
    margin-top: 8px;
    transition: max-height 1s ease-in-out;
}

.opt-in .left,
.opt-out .left,
.closed-message .left,
.welcome-message .left,
.automatic-messages .left,
.privacy-policy .left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: max-height 1s ease-in-out;
}

.opt-in .left .messageText .body,
.opt-out .left .messageText .body,
.welcome-message .left .messageText .body,
.automatic-messages .left .messageText .body,
.closed-message .left .messageText .body,
.privacy-policy .left .messageText .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 420px;
    font-size: 0.8rem;
    background-color: var(--backgroundMessage);
    border-radius: 6px;
    margin-bottom: 1rem;
    word-wrap: break-word;
    box-shadow: 0 4px 4px rgb(0 0 0 / 8%);
}

.welcome-message .left .messageText .body .tex span,
.opt-in .left .messageText .body .tex span,
.opt-out .left .messageText .body .tex span,
.closed-message .left .messageText .body span,
.automatic-messages .left .messageText .body span {
    white-space: break-spaces;
    word-wrap: break-word;
}

.opt-out .left .messageText .body .tex,
.automatic-messages .left .messageText .body .about-attendance,
.privacy-policy .left .messageText .body .tex {
    border-bottom: solid #c4c4c4 1px;
}

.opt-in .left .tex.invitation,
.opt-in .left .tex.options,
.closed-message .left .tex.call-closed,
.closed-message .left .tex.contact-return,
.automatic-messages .left .tex.info-attendance,
.automatic-messages .left .about-attendance,
.opt-out .left .messageText .body .tex,
.automatic-messages .left .messageText .body .about-attendance,
.privacy-policy .left .messageText .body .tex {
    width: 100%;
}

.automatic-messages .left .messageText .body .about-attendance span,
.privacy-policy .left .messageText .body .tex span {
    display: block;
    margin-bottom: 0.8rem;
}

.privacy-policy .left .messageText .body .link {
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: 600;
    color: var(--fontBlue);
    position: relative;
    padding: 2px 0px;
}

.privacy-policy .left .messageText .body .link a {
    display: flex;
}

.privacy-policy .left .messageText .body .link span {
    cursor: pointer;
}

.privacy-policy .left .messageText .body i {
    display: block;
    margin-top: 3px;
    margin-right: 11px;
    cursor: pointer;
}

.privacy-policy .left .messageText .bottom .info .text {
    display: block;
    font-size: 0.8rem;
    background-color: var(--backgroundMessage);
    box-shadow: 0 4px 4px rgb(0 0 0 / 8%);
    padding: 7px;
    margin-bottom: 0.5rem;
    border-radius: 6px;
}

.privacy-policy .left .messageText .bottom .info div {
    display: flex;
    height: 30px;
    align-items: center;
}

.privacy-policy .left .messageText .bottom .info div span:first-child {
    margin-right: 1rem;
}

.privacy-policy .left .messageText .bottom .info div span:first-child,
.privacy-policy .left .messageText .bottom .info div span:last-child {
    font-size: 0.9rem;
    background-color: var(--backgroundMessage);
    box-shadow: 0 4px 4px rgb(0 0 0 / 8%);
    width: 100%;
    padding: 4px 10px;
    color: var(--fontBlue);
    border-radius: 5px;
    position: relative;
}

.privacy-policy .left .messageText .bottom .info div small:first-child,
.privacy-policy .left .messageText .bottom .info div small:last-child {
    position: absolute;
    right: 10px;
    bottom: -15px;
    background: #eef2f8;
    padding: 2px 6px;
    border-radius: 40px;
    font-size: 16px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
    animation: zoom-in-zoom-out 1.5s ease-out;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    20% {
        transform: scale(1.1, 1.1);
    }

    40% {
        transform: scale(1, 1);
    }

    60% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

.opt-in .left .messageImage {
    background-color: var(--backgroundMessage);
    padding: 8px;
    position: relative;
    border-radius: 5px;
    width: 420px;
}

.opt-in .left .messageImage img {
    width: 100%;
    height: 100%
}

.opt-out .left .messageText .body .list {
    color: #007aff;
    display: flex;
    justify-content: center;
    align-self: center;
}

.opt-out .left .messageText .body .tex {
    padding-bottom: 0.8rem;
}

.opt-out .left .messageText .body .list img {
    margin-right: 0.5rem;
    cursor: pointer;
}

.opt-out .left .messageText .body .list span {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}

.automatic-messages .left .messageText .phone-attendance {
    display: flex;
    justify-content: center;
    align-self: center;
}

.automatic-messages .left .messageText .phone-attendance i {
    display: inline-block;
    font-weight: 600;
    margin-right: 0.4rem;

}

.automatic-messages .left .messageText .phone-attendance span {
    display: inline-block;
    font-weight: 600;

}

#modal-privacy-policy .toggle {
    cursor: pointer;
    display: inline-block;
}

#modal-privacy-policy .toggle-switch {
    display: inline-block;
    border-radius: 16px;
    width: 25px;
    height: 16px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
    border: solid 1px #90A0C0;
}

#modal-privacy-policy .toggle-switch:before, .toggle-switch:after {
    content: "";
}

#modal-privacy-policy .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 25%);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.25s;
}

#modal-privacy-policy .toggle-checkbox:checked+.toggle-switch {
    border: solid 1px #5e72e4;
}

#modal-privacy-policy .toggle-checkbox:checked+.toggle-switch:before {
    left: 11.2px;
    background: linear-gradient(to bottom, #5e72e4 0%, #5e72e4 100%);
    border: solid 1px #5e72e4;
}

#modal-privacy-policy .toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

#modal-privacy-policy .toggle-label {
    margin-left: 5px;
    position: relative;
    top: 1px;
    font-size: 13px;
}

#modal-privacy-policy .col-12 .text {
    position: absolute;
    font-size: 13px;
    left: 195px;
    top: 5px;
}

#modal-list .modal-header {
    background-color: #007AFF;
}

#modal-list .modal-header h6 {
    color: #FFF;
}

#modal-list .modal-header span {
    color: #FFF;
    opacity: 0.9 !important;
}

#modal-list .modal-header button {
    color: #FFF;
    opacity: 0.9 !important;
}

#modal-list .modal-body .item {
    display: flex;
    justify-content: space-between;
    padding: 18px 22px;
    cursor: pointer;
}

#modal-list .modal-body .item span {
    font-size: 0.9rem;
    white-space: break-spaces;
    word-wrap: break-word;
    width: 100%;
}

#modal-list .modal-body .item:hover {
    background-color: #ececec;
}

#modal-list .modal-body .item input {
    cursor: pointer;
    /* width: 18px; */
}

#modal-list .modal-body {
    padding: 0px 0px;
}

.emojionearea-button-open {
    display: none !important;
}

.emojionearea-button-close {
    display: none !important;
}

.emojionearea.emojionearea-standalone .emojionearea-editor::before {
    border: solid 0px !important;
}

.option-emoji {
    position: absolute;
    left: 156px;
    top: -3px;
    width: 40px;
    height: 32px;
}

.emojionearea .emojionearea-editor [class*=emojione-], .emojionearea .emojionearea-editor .emojioneemoji {
    font-size: inherit;
    height: 2ex;
    width: -0.9ex;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
    margin: 0;
    line-height: normal;
    vertical-align: middle;
    max-width: 100%;
    top: 0;
}

.emojionearea.emojionearea-standalone .emojionearea-editor.has-placeholder {
    background-repeat: no-repeat;
    background-position: 21px 4px;
}

.emojionearea.emojionearea-standalone {
    display: inline-block;
    width: 100%;
    box-shadow: none;
}

.emojionearea .emojionearea-editor {
    overflow: hidden;
}

.emojionearea, .emojionearea.form-control {
    height: auto;
    background-color: rgba(255, 0, 0, 0);
    border: solid 0px !important;
}

.emojionearea .emojionearea-picker .emojionearea-scroll-area {
    height: 98%;
}

.emojionearea .emojionearea-picker {
    height: 145px;
    margin-top: -110px !important;
}

.emojionearea .emojionearea-picker.emojionearea-picker-position-top .emojionearea-wrapper:after {
    width: 0px;
    height: 0px;
    background-position: 0px 0px;
    bottom: 0px;
    right: 0px;
}

#modal-opt-in .file-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}

#modal-opt-in .file-content .left {
    width: 290px;
    height: 280px;
}

#modal-opt-in .file-content #preview_opt_in {
    text-align: center;
}

#modal-opt-in .file-content .right {
    width: 195px;
    text-align: center;
    padding: 0px 12px;
}

#modal-opt-in .file-content .right .btn-add,
#modal-opt-in .file-content .right .btn-remove {
    position: relative;
    background: #D6DEEC;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px 0px;
}

#modal-opt-in .file-content .right .btn-add:hover,
#modal-opt-in .file-content .right .btn-remove:hover {
    background: #d0d8e6;
}

#modal-opt-in .file-content .right span {
    display: block;
    font-size: 0.9rem;
    margin-left: 16px;
}

#modal-opt-in .file-content .right img {
    position: absolute;
    left: 31px;
    top: 9px;
}

#modal-opt-in .warning {
    font-size: 0.8rem;
    display: block;
}

#modal-opt-in #preview_opt_in img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
}

#modal-opt-in #preview_opt_in .load {
    width: 120px !important;
    height: 120px !important;
}

#modal-opt-in #opt-in__textarea-desc::-webkit-scrollbar {
    width: 5px;
    background: #fff;
}

#modal-opt-in #opt-in__textarea-desc::-webkit-scrollbar-thumb {
    background-color: rgb(173 173 173 / 64%);
    border-radius: 2px;
}

#modal-opt-in #opt-in__textarea-desc::-webkit-scrollbar-track {
    border: rgb(180, 180, 180);
}

#modal-opt-out .modal-body .bootstrap-tagsinput .badge {
    line-height: 1.5;
    position: relative;
    margin: 5px 3px 0px 0px;
    padding: 5px 7px 7px 7px;
    transition: all .15s ease;
    color: #fff;
    border-radius: 0.25rem;
    background: #FF6852;
    box-shadow: 0 1px 2px rgb(68 68 68 / 25%);
}

#modal-opt-out .modal-body .labels input {
    font-size: 0.9rem !important;
}

.swal2-container.swal2-center.swal2-fade.swal2-shown {
    z-index: 9999;
}