:root {
    --font-color-placeholder: #a0a0a0;
    --font-color-default: #8898aa;
    --white: #ffffff;
}

.header .info {
    margin-top: 5px;
}

.header .progressbar {
    width: 100%;
    height: 30px;
    padding-right: 4px;
    border-radius: 0px !important;
    background: #e5e5e5;
}

.header .progressbar .progress-icon {
    width: 50%;
    position: relative;
}

.header .progressbar .progress-icon .icon {
    width: 48px;
    height: 48px;
    position: absolute;
    right: -19px;
    top: -7px;
    z-index: 9;
}

.header .progressbar .progress {
    width: 50%;
    background-color: #007AFF;
    position: relative;
    height: 35px;
    border-radius: 2px !important;
}

.header .info .text {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.header .info .number {
    margin-top: 4px;
    font-weight: bold;
    font-size: 13px;
    /* font-size: 14px; */
    position: absolute;
    right: 10px;
}

#modal-filter .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

#modal-filter .dropdown .fas.fa-chevron-down {
    position: absolute;
    right: 6px;
    font-size: 0.6rem;
    top: 18px;
    color: #8898aa;
}

#modal-filter .dropdown .input-search {
    box-sizing: border-box;
    font-size: 13.6px;
    padding: 13px 8px 12px 14px;
    height: 45px;
    outline: none;
    border-radius: 5px;
    width: 100%;
    color: var(--font-color-default);
    margin-right: 5px;
    border: solid #dee2e6 1px;
}

#modal-filter .dropdown .input-search::placeholder {
    color: var(--font-color-placeholder);
    font-size: 0.83rem;
}

#modal-filter .dropdown span {
    position: absolute;
    top: -20px;
    font-size: 13.9px;
}

#modal-filter .dropdown-content {
    width: 100%;
    position: absolute;
    background-color: var(--white);
    overflow-x: hidden;
    border: 1px solid #ddd;
    z-index: 99;
    border-radius: 3px;
    text-align: left;
    display: none;
    max-height: 300px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 14%);
}

#modal-filter .dropdown-content .dropdown-item {
    padding: 0px 11px;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
    color: var(--font-color-default);
    cursor: context-menu;
}

#modal-filter .dropdown-item:hover {
    background-color: #289cf5;
    color: var(--white);
}

#modal-filter .dropdown select {
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    height: 24px;
    outline: none;
    border-radius: 4px;
    width: 110px;
    color: #535353;
}

#modal-filter .dropdown-content::-webkit-scrollbar,
#modal-filter .dropdown-content::-webkit-scrollbar-thumb {
    width: 6px;
    color: #636363a6;
    border-radius: .375rem;
}

#modal-filter .dropdown-content::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 4px !important;
}

.audience-graph .main,
.interaction-graph .main {
    display: flex;
    padding: 12px 1.2rem;
    height: 300px;
    padding-top: 21px;
}

.audience-graph .card .card-body {
    min-height: 318px;
}

.audience-graph .card-header,
.scheduled-campaigns .card-header,
.scheduled-published .card-header,
.interaction-graph .card-header {
    border: none;
    margin-bottom: -25px;
}

.scheduled-campaigns .card-header .row.align-items-center,
.scheduled-published .card-header .row.align-items-center,
.interaction-graph .card-header .row.align-items-center {
    border-bottom: solid 2px #525f7fc4;
    margin: 0px 0px;
}

.audience-graph .card-header .row.align-items-center {
    border-bottom: solid 2px #525f7fc4;
    margin: -6px 0px;
}

.scheduled-campaigns .card-header .layout-header,
.scheduled-published .card-header .layout-header,
.interaction-graph .card-header .layout-header,
.audience-graph .card-header .layout-header {
    justify-content: space-between;
    padding-bottom: 6px;
    padding-top: 13px;
}

.audience-graph .card-header .row.align-items-center .col,
.scheduled-campaigns .card-header .row.align-items-center .col,
.scheduled-published .card-header .row.align-items-center .col,
.interaction-graph .card-header .row.align-items-center .col {
    padding: 8px 0px;
}

.interaction-graph .main .left {
    width: 280px;
}

.interaction-graph .main .right {
    width: 100%;
}

.interaction-graph .right .progressbar {
    width: 100%;
    height: 42px;
    background: #e5e5e5;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    border-radius: 0px !important;
}

.interaction-graph .main .progressbar .progress {
    width: 50%;
    height: 42px;
    position: relative;
    background-color: #007AFF;
    border-radius: 0px !important;
    animation: progressBar 2.5s ease-in-out;
    transition: width 5s linear;
    animation-fill-mode: both;
}

@keyframes progressBar {
    0% {
        left: 0;
        width: 0;
    }
}

.interaction-graph .main .info {
    display: grid;
    grid-template-areas:
        'icon broadcast'
        'icon total';
    height: 42px;
    margin-top: 1rem;
    margin-bottom: 12.1px;
}

.interaction-graph .main .info .icon {
    grid-area: icon;
    position: relative;
}

.interaction-graph .main .info .icon img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.interaction-graph .main .info .broadcast .number {
    font-weight: 600;
    color: #007AFF;
    margin-right: 4px;
    font-size: 0.9rem;
}

.interaction-graph .main .info .broadcast .text {
    font-size: 0.9rem;
}

.interaction-graph .main .info .broadcast {
    grid-area: broadcast;
}

.interaction-graph .main .info .total {
    grid-area: total;
    margin-top: -10px;
    width: 120px;
    animation: progress 1500ms ease-in 1;
}

.interaction-graph .main .info .total .number:first-child {
    font-weight: bold;
    margin-right: 4px;
    font-size: 0.9rem;
}

.interaction-graph .main .info .total .number:nth-child(2) {
    color: #00BFA5;
    font-weight: 600;
    font-size: 0.9rem;
}

.interaction-graph .info-footer {
    width: 100%;
    text-align: end;
    padding-right: 22px;
    font-size: 0.8rem;
    margin-top: -1rem;
}

.audience-graph .main {
    display: flex;
    padding: 2.2% 1.2rem;
    height: 203px;
}

.audience-graph .container-graphic {
    margin-left: 15%;
    margin-right: 1.2rem;
}

.audience-graph .container-title {
    margin-top: 1.6rem;
}

.audience-graph .container-title .subtitle {
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.audience-graph .container-title .info span.fans {
    background: #FF499A;
}

.audience-graph .container-title .info span.active {
    background: #2263D3;
}

.audience-graph .container-title .info span.inactive {
    background: #000000;
}

.audience-graph .container-title .info span:first-child {
    padding: 1px 8px;
    border-radius: 1px;
    color: #ffff;
    display: inline-block;
    margin-bottom: 0.7rem;
    font-size: 0.9rem;
}

.audience-graph .container-title .info span:nth-child(2) {
    display: inline-block;
    font-size: 0.96rem;
    font-weight: 700;
}

.audience-graph .container-title .info span:nth-child(3) {
    display: inline-block;
    font-size: 0.9rem;
}

.audience-graph .container-title .info span:nth-child(4) {
    display: inline-block;
    margin-bottom: 0.7rem;
    font-size: 0.95rem;
    font-weight: 600;
    color: rgba(0, 191, 165, 1);
}

.audience-graph .wartnings {
    font-size: 0.8rem;
    padding: 0 2rem;
    width: 100%;
    min-height: 105px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.audience-graph .wartnings div {
    display: flex;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.audience-graph .wartnings div img {
    margin-right: 0.5rem;
}

.audience-graph .nav-item a {
    background: #fff;
    border: solid 1px #525f7fc4;
    color: #525f7fc4;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 5px 10px !important;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.audience-graph .nav-item a.selected {
    background: #3c4963;
    color: #fff;
}

.audience-graph .nav-item a:not(.selected) {
    background: #fff;
    color: #525f7fc4;
}

.audience-graph .nav-item .button-hidden {
    display: none;
}

@media screen and (max-width: 1300px) {
    .audience-graph .container-graphic {
        margin-left: 7%;
    }

    .audience-graph .wartnings {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1900px) {
    .audience-graph .wartnings {
        margin-top: 1rem;
    }
}