:root {}

.icon {
    width: 1rem;
    height: 1rem;
}

.filter-top {
    height: 26px;
    padding: 0px;
    padding-left: 6px;
    cursor: pointer;
}

.flex-top {
    display: flex;
    margin-right: -22px;
    margin-left: -15px;
}

.icon-shape i {
    font-size: 0.8rem
}

.card-stats.circle {
    border-radius: 1rem;
}

.card-stats.circle .percent {
    font-size: 1.4rem;
}

.no-data-message {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
