
.b2{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b2.webp);
    margin: 6px;
    border-radius: 3px;
}
.b4{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b4.webp);
    margin: 6px;
    border-radius: 3px;
}
.b5{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b5.webp);
    margin: 6px;
    border-radius: 3px;
}
.b6{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b6.webp);
    margin: 6px;
    border-radius: 3px;
}
.b7{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b7.webp);
    margin: 6px;
    border-radius: 3px;
}
.b8{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b8.webp);
    margin: 6px;
    border-radius: 3px;
}
.b9{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b9.webp);
    margin: 6px;
    border-radius: 3px;
}
.b10{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b10.webp);
    margin: 6px;
    border-radius: 3px;
}
.b11{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b11.webp);
    margin: 6px;
    border-radius: 3px;
}
.b12{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b12.webp);
    margin: 6px;
    border-radius: 3px;
}
.b13{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b13.webp);
    margin: 6px;
    border-radius: 3px;
}
.b14{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b14.webp);
    margin: 6px;
    border-radius: 3px;
}
.b15{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b15.webp);
    margin: 6px;
    border-radius: 3px;
}
.b16{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b16.webp);
    margin: 6px;
    border-radius: 3px;
}
.b17{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b17.webp);
    margin: 6px;
    border-radius: 3px;
}
.b18{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b18.webp);
    margin: 6px;
    border-radius: 3px;
}
.b19{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b19.webp);
    margin: 6px;
    border-radius: 3px;
}
.b20{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b20.webp);
    margin: 6px;
    border-radius: 3px;
}
.b21{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b21.webp);
    margin: 6px;
    border-radius: 3px;
}
.b22{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b22.webp);
    margin: 6px;
    border-radius: 3px;
}
.b23{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b23.webp);
    margin: 6px;
    border-radius: 3px;
}
.b24{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b24.webp);
    margin: 6px;
    border-radius: 3px;
}
.b25{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b25.webp);
    margin: 6px;
}
.b34{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b34.webp);
    margin: 6px;
    border-radius: 3px;
}
.b35{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b35.webp);
    margin: 6px;
    border-radius: 3px;
}
.b36{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b36.webp);
    margin: 6px;
    border-radius: 3px;
}
.b37{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b37.webp);
    margin: 6px;
    border-radius: 3px;
}
.b38{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b38.webp);
    margin: 6px;
    border-radius: 3px;
}
.b39{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b39.webp);
    margin: 6px;
    border-radius: 3px;
}
.b43{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b43.webp);
    margin: 6px;
    border-radius: 3px;
}
.b44{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b44.webp);
    margin: 6px;
    border-radius: 3px;
}
.b48{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b48.webp);
    margin: 6px;
    border-radius: 3px;
}
.b51{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b51.webp);
    margin: 6px;
    border-radius: 3px;
}
.b53{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b53.webp);
    margin: 6px;
    border-radius: 3px;
}
.b54{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b54.webp);
    margin: 6px;
    border-radius: 3px;
}
.b55{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b55.webp);
    margin: 6px;
    border-radius: 3px;
}
.b57{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b57.webp);
    margin: 6px;
    border-radius: 3px;
}
.b58{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b58.webp);
    margin: 6px;
    border-radius: 3px;
}
.b67{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b67.webp);
    margin: 6px;
    border-radius: 3px;
}


.b68{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b69.webp);
    margin: 6px;
    border-radius: 3px;
}
.b69{
    float: left;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-image: url(/assets/img/b1.webp);
    margin: 6px;
    border-radius: 3px;
}
.b70{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b70.webp);
    margin: 6px;
    border-radius: 3px;
}
.b71{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b71.webp);
    
    margin: 6px;
    border-radius: 3px;
}
.b72{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b72.webp);
    
    margin: 6px;
    border-radius: 3px;
}
.b74{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b74.webp);
    margin: 6px;
    border-radius: 3px;
}
.b75{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b75.webp);
    margin: 6px;
    border-radius: 3px;
}
.b81{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b81.webp);
    margin: 6px;
    border-radius: 3px;
}
.b82{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b82.webp);
    margin: 6px;
    border-radius: 3px;
}
.b83{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b83.webp);
    margin: 6px;
    border-radius: 3px;
}
.b84{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b84.webp);
    margin: 6px;
    border-radius: 3px;
}
.b3{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b3.webp);
    margin: 6px;
    border-radius: 3px;
}
.b71{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b71.webp);
    margin: 6px;
    border-radius: 3px;
}
.b90{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b90.webp);
    margin: 6px;
    border-radius: 3px;
}
.b92{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b92.webp);
    margin: 6px;
    border-radius: 3px;
}
.b94{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b94.webp);
    margin: 6px;
    border-radius: 3px;
}
.b99{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(/assets/img/b99.webp);
    margin: 6px;
    border-radius: 3px;
}


