#emoji {
    cursor: pointer;
}

.messenger .right .chat .emojipicker {
    border-radius: 0px 0px 20px 20px;
    background: #eeeeee;
    display: none;
    z-index: 4;
    position: absolute;
    width: 100%;
}

.messenger .right .chat .emojipicker .head {
    width: 100%;
    height: 36px;
    float: left;
    background: #f7eef5;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
}

.messenger .right .chat .emojipicker .head span {
    float: right;
    margin: 10px;
    margin-right: 10px;
    cursor: pointer;
    width: 12px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    height: 12px;
}

.messenger .right .chat .emojipicker .items {
    margin-left: 14px;
    overflow-y: auto;
    width: calc(100% - 14px);
    max-height: 150px;
}

.messenger .right .chat .emojipicker .item {
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: 6px;
    border-radius: 3px;
    background-size: 161px 161px;
}

.messenger .right .chat .emojipicker .items .item span {
    float: left;
    padding: 5px;
    margin: 5px;
}

.messenger .right .chat .emojipicker .items::-webkit-scrollbar {
    width: 6px;
}

.messenger .right .chat .emojipicker .items::-webkit-scrollbar-thumb {
    background: #636363a6;
    border-radius: .375rem;
}

.messenger .right .chat .emojipicker .items::-webkit-scrollbar-thumb:hover {
    background: #666666;
}