/* Integration TV */
.integration-tv-screen.row {
    border: none !important;
    outline: none !important;
}

.integration-tv-screen h3 {
    color: #5e72e7;
}

.integration-tv-screen .step-progress {
    display: flex;
    justify-content: center;
    align-items: center;
}

.integration-tv-screen .step-progress-list {
    color: #333;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}

.integration-tv-screen .step-progress-item {
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}

.integration-tv-screen .step-progress-item+.step-progress-item:after {
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #5e72e7;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}

.integration-tv-screen .progress-count {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: transparent;
}

.integration-tv-screen .progress-count::after {
    content: "";
    height: 40px;
    width: 40px;
    background: #5e72e7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}

.integration-tv-screen .progress-count:before {
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}

.integration-tv-screen .progress-label {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.integration-tv-screen .current-item .progress-count:before,
.integration-tv-screen .current-item~.step-progress-item .progress-count:before {
    display: none;
}

.integration-tv-screen .current-item~.step-progress-item .progress-count::after {
    height: 10px;
    width: 10px;
}

.integration-tv-screen .current-item~.step-progress-item .progress-label {
    opacity: 0.5;
}

.integration-tv-screen .current-item .progress-count::after {
    background: #fff;
    border: 2px solid #5e72e7;
}

.integration-tv-screen .current-item .progress-count {
    color: #5e72e7;
}





/* integrationWhatsapp */

.box-left {
    border: solid 1px #dee2e6;
    border-radius: 6px;
    padding: 0.6rem;
}

.box-left .title {
    border-bottom: solid 1px #dee2e6;
    margin-bottom: 18px;
    padding-bottom: 10px;
    font-weight: 800;
}

._input-custom {
    height: calc(1.75rem + 2px) !important;
}

.form-group {
    margin-bottom: 0.6rem !important;
}

.box-left .input-with-icon {
    position: relative;
    align-items: center;
}

.box-left .input-with-icon .icon {
    position: absolute;
    left: 16px;
    top: 7px;
    color: #525f7f;
    pointer-events: none;
    z-index: 1;
}

.box-left .input-with-icon input {
    padding-left: 35px;
    width: 100%;
}

.box-left .main-profile {
    display: flex;
    width: 100%;
    margin-bottom: 2px;
}

.box-left .main-profile ._preview {
    width: 100%;
    height: 110px;
    flex: 0 0 60%;
    overflow: hidden;
    cursor: pointer;
    display: block;
    position: relative;
}

.box-left .main-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
    border-radius: 50%;
}

.box-left .main-profile .profile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    border-radius: 50%;
}

.box-left .main-profile .profile-overlay i {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.box-left .main-profile .profile-overlay span {
    font-size: 0.8em;
    margin-bottom: 5px;
}

.box-left .main-profile ._upload {
    text-align: center;
    flex: 1;
    font-size: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-left .box-alert-file {
    width: 100%;
}

.box-left .main-profile ._upload ._box ._button {
    width: 100%;
    border: solid 1px #dee2e6;
    border-radius: 4px;
    background: #fff;
    font-size: 0.9rem;
    border-bottom: solid 2px #dfe3e7;
    cursor: pointer;
    transition: all 0.2s ease;
}

.box-left .main-profile ._upload ._box ._button:hover {
    background: #f8f9fa;
    border-color: #ced4da;
    border-bottom-color: #ced4da;
    transform: translateY(-1px);
}

.box-left .required-asterisk {
    color: #dc3545;
    margin-left: 2px;
}

.box-left .groups-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.box-left .groups-buttons .button {
    text-align: center;
    width: 32%;
    border: solid 1px #dee2e6;
    border-radius: 4px;
    background: #fff;
    font-size: 0.82rem;
    cursor: pointer;
    padding: 3px 20px;
    transition: all 0.2s ease;
    border-bottom: solid 2px #dfe3e7;
}

.box-left .groups-buttons .disabled {
    background: #dfe3e7;
}

.box-left .groups-buttons .button.efect:hover {
    background: #f8f9fa;
    border-color: #ced4da;
    border-bottom-color: #ced4da;
    transform: translateY(-1px);
}

/*** Box Right ***/

.box-right {
    border-radius: 6px;
    background: linear-gradient(310.3deg, #93C5FD 0%, #DBEAFE 100%);
    height: 100%;
}

.box-right .main-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box-right ._container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.box-right .iphone {
    width: 310px;
    height: 676px;
    background: #000;
    border-radius: 52px;
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.box-right .screen {
    position: absolute;
    top: 9px;
    left: 9px;
    right: 9px;
    bottom: 9px;
    background: rgba(244, 244, 244, 1);
    border-radius: 45px;
    overflow: hidden;
}

.box-right .dynamic-island {
    width: 90px;
    height: 26px;
    background: #1a1a1a;
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    z-index: 10;
}

.box-right .power-btn {
    position: absolute;
    right: -4px;
    top: 100px;
    width: 5px;
    height: 50px;
    background: #333;
    border-radius: 0 5px 5px 0;
}

.btn-close-custom {
    background: #f5f5f5;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s, color 0.2s;
}



.btn-close-custom:hover {
    background: #e0e0e0;
    color: #000;
}

.list-group-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
}

.list-group-item:hover {
    background: #f9fbff;
    border-color: #cce0ff;
}

.list-group-item input[type="radio"]:checked~.checkmark {
    opacity: 1;
    transform: scale(1);
}

/* Ícone celular */
.phone-icon {
    width: 26px;
    height: 40px;
    border: 2px solid #bbb;
    border-radius: 6px;
    background: #fff;
    position: relative;
}

.phone-icon::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 2px;
    background: #bbb;
    border-radius: 2px;
}

/* Checkmark */
.checkmark {
    font-size: 18px;
    color: #0d6efd;
    font-weight: bold;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.2s ease;
}

.checkmark::before {
    content: "✓";
}


.list-group-item:has(input[type="radio"]:checked) {
    border-color: #0d6efd;
    background-color: #e9f3ff;
    /* azul clarinho fixo */
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.1);
}

.list-group-item:has(input[type="radio"]:checked) .fw-bold {
    color: #0d6efd;
    /* nome do supermercado azul */
}

.list-group-item:has(input[type="radio"]:checked) small {
    color: #0d6efd;
    /* número e comunidades azul também */
}

.list-group-item:has(input[type="radio"]:checked) .phone-icon {
    border-color: #0d6efd;
}

.list-group-item:has(input[type="radio"]:checked) .phone-icon::after {
    background: #0d6efd;
}

/* Card principal do número escolhido */
.list-group-item.selected {
    border: 1px solid #0d6efd;
    background-color: #f0f7ff;
    border-radius: 10px;
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.1);
}

/* Botão editar */
.btn-link {
    text-decoration: none;
    font-weight: 500;
    padding: 0;
}

.btn-link:hover {
    text-decoration: underline;
}


/* Título (nome) */
.list-group-item .fw-bold {
    font-size: 15px;
    color: #333;
}

/* Descrição (número e comunidades) */
.list-group-item small {
    font-size: 13px;
    color: #666;
}

/* Botões no rodapé */
.modal-footer .btn {
    border-radius: 8px;
    padding: 6px 18px;
    font-weight: 500;
    transition: all 0.2s ease;
}

.modal-footer .btn-outline-primary {
    border: 1px solid #0d6efd;
    color: #0d6efd;
    background: #fff;
}

.modal-footer .btn-outline-primary:hover {
    background: #e6f0ff;
}


.box-right .volume-buttons {
    position: absolute;
    right: -4px;
    top: 180px;
    width: 5px;
    height: 80px;
    background: #333;
    border-radius: 0 5px 5px 0;
}

.box-right .whatsapp-header {
    height: 48px;
    background: rgba(244, 244, 244, 1);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-right .whatsapp-header .hour {
    margin-left: 10px;
    margin-bottom: -4px;
    font-size: 0.9rem;
    font-weight: 600;
}

.box-right .whatsapp-header .info-phone {
    width: 75px;
}

.box-right .whatsapp-header .info-phone img {
    width: 100%;
}

.box-right .whatsapp-content {
    padding: 12px;
}

.box-right .whatsapp-content .top .waba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.box-right .whatsapp-content .top .waba .text {
    font-size: 0.8rem;
    font-weight: 700;
}

.box-right .whatsapp-content .top .info-channel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-right .whatsapp-content .top .info-channel .box-avatar {
    width: 95px;
    height: 95px;
    margin-bottom: 12px;
}

.box-right .whatsapp-content .top .info-channel .box-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.box-right .whatsapp-content .top .info-channel .name {
    font-size: 1.2rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.5);

}

.box-right .whatsapp-content .top .info-channel .number {
    font-size: 0.9rem;
    font-weight: 100;
    color: rgba(106, 108, 108, 0.5);
}

.box-right .whatsapp-content .top .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.box-right .whatsapp-content .top .action .share {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 90px;
    height: 70px;
    font-size: 0.75rem;
    text-align: center;
}

.box-right .whatsapp-content .top .action .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 90px;
    height: 70px;
    font-size: 0.75rem;
    text-align: center;
}

.box-right .whatsapp-content .top .action {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* espaço entre os botões */
    margin-top: 15px;
}

.box-right .whatsapp-content .top .action .addMember {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 90px;
    height: 70px;
    font-size: 0.75rem;
    text-align: center;
}

.box-right .whatsapp-content .top .action .addGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 90px;
    height: 70px;
    font-size: 0.75rem;
    text-align: center;
}

.community-tabs {
    width: 267px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
    border-radius: 7.14px;
    padding: 1.5px;
    background: #e7e7e7;
    opacity: 1;
    margin-top: 6px;
}

.community-tabs button {
    flex: 1;
    height: 100%;
    border: none;
    border-radius: 6px;
    background: transparent;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.community-tabs button.active {
    background: #fff;
    font-weight: 600;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.info-description {
    margin-top: 6px;
    opacity: 1;
    border-radius: 7.14px;
}

#input-preview-desc {
    pointer-events: none;
    background: #fff;
    width: 267px;
    height: 30px;
    padding-left: 11px;
    font-size: 13px;
    color: #666;
    border-radius: 7px;
    border: none;
    box-sizing: border-box;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input {
    width: 100%;
    padding-left: 36px;
    /* espaço para o ícone, igual ao Trigger number */
    padding-right: 110px;
    /* espaço para o botão */
    box-sizing: border-box;
}

.input-wrapper .icon {
    position: absolute;
    left: 16px;
    top: 103%;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
}

.flex-grow-1 {
    border-right: 10px;
}

.input-wrapper .btn-add-modal {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0px 12px;
    font-size: 14px;
    cursor: pointer;
    height: calc(100% - 8px);
    outline: none;
}

#modalAddNumberTrigger ._upload span {
    font-size: 11px;
    color: #6c757d;
    display: block;
    text-align: center;
}

/* modal add number send */
#modalAddNumberTrigger .modal-body,
#modalAddNumberCreator .modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

#modalAddNumberTrigger .modal-body,
#modalAddNumberCreator .modal-body {
    position: sticky;
    bottom: 0;
    background: #fff;
    /* mantém contraste */
    z-index: 2;
}

#modalAddNumberTrigger .main-profile ._preview_trigger .profile-overlay-trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .3s ease;
    border-radius: 50%;
    cursor: pointer;
}

#modalAddNumberTrigger .main-profile ._preview_trigger {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #e6ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#modalAddNumberTrigger .main-profile ._preview_trigger img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* garante que a imagem preencha */
    border-radius: 50%;
    /* acompanha o círculo */
}

.box-left .main-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
    border-radius: 50%;
}

/* 
#modalAddNumberCreator .main-profile .profile-overlay i {
    font-size: 1.2em;
    margin-bottom: 5px;
}

#modalAddNumberCreator .main-profile .profile-overlay span {
    font-size: 0.8em;
    margin-bottom: 5px;
} */

.input-wrapper .btn-add-modal:hover {
    background: #f0f0f0;
}

/* Inputs */
.step-1 .form-control {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px 12px;
    font-size: 0.95rem;
}

/* Labels */
.step-1 .form-label {
    font-weight: 500;
    margin-bottom: 5px;
}

/* Profile picture */
.main-profile {
    text-align: center;
    position: relative;
}

._preview {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background: #f0f0f0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

._preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-overlay {
    /* position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 0.3s ease; */
}

/* ._preview:hover .profile-overlay {
    opacity: 1;
} */

/* Description textarea */
textarea.form-control {
    border-radius: 8px;
}

/* Buttons */
.modal-footer .btn {
    border-radius: 6px;
    padding: 6px 20px;
    font-weight: 500;
    font-size: 0.95rem;
}

.modal-footer .btn-primary {
    background-color: #5c6ac4;
    border-color: #5c6ac4;
}

.modal-footer .btn-secondary {
    background-color: #f0f0f0;
    color: #333;
    border-color: #ddd;
}

/* Texts */
.step-1 p.small {
    font-size: 0.8rem;
    color: #666;
    margin-top: 10px;
}

/* Espaçamento geral */
.step-1 .row {
    gap: 15px;
}

.box-right .whatsapp-content .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    margin-top: 18px;
    border-radius: 6px;
    padding: 0px 10px;
}

.box-right .whatsapp-content .body .group {
    width: 100%;
    border-bottom: solid #dee2e6 1px;
    padding: 5px 0px;
}

.box-right .whatsapp-content .body .group textarea,
.box-right .whatsapp-content .body .group input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.8rem;
    resize: none;
    background: #ffffff
}

.box-right .whatsapp-content .body #preview_description {
    resize: none;
    overflow-y: hidden;
    min-height: 20px;
    box-sizing: border-box;
    padding-bottom: 0px;
    margin-bottom: -5px;
}

.box-right .whatsapp-content .body .group #preview_email,
.box-right .whatsapp-content .body .group #preview_site {
    color: #1ba45d;
}

.box-right .whatsapp-content .body .group.last {
    border-bottom: none;
}

.button-advance {
    display: flex;
    justify-content: end;
    width: 100%;
}

.button-schedule {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-schedule button,
.button-advance button {
    background: var(--Blue-700, rgba(29, 78, 216, 1));

}

.button-schedule #btnCallBack {
    margin-left: 18px;
    background: #fff;
    color: #525f7f;
}

._main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

._main ._content {
    width: 60%;
    padding-left: 20px;
}

._main ._content .text {
    font-size: 0.9rem;
}

._main ._box {
    margin-right: 8%;
}

/* Card */
._channel-flex ._channel {
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #dee2e6;
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 8px;
}

._channel-flex ._channel:hover {
    background-color: #dee2e6b7;
}

._channel-flex ._channel span {
    padding: 0px 10px;
    margin: 0 5px;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 14px;
}

._channel-flex ._channel .title {
    font-weight: 600;
    font-size: 0.9rem;
}

._channel-flex ._channel .name,
._channel-flex ._channel .phone {
    font-size: 0.9rem;
}

._channel-flex ._channel .fas.fa-arrow-right {
    margin-left: auto;
    color: #d5d5d5;
    margin-right: 8px;
}

._channel-flex ._selected {
    background-color: #dee2e6b7 !important;
}

.alert-field-validation {
    font-size: 0.6rem;
    color: red;
    display: none;
    margin-top: -0.11rem !important;
}