.menu{
    background:RGB(49,51,64);
    position:fixed;
    height:100%;
    top:0px;
    left:0px;
    width:60px;
    transition-property: width;
    transition-duration: 1s;
    transition-delay: 0.1s;
    z-index: 9999;
}
.menu .head{
    float: left;
    height: 65px;
    width: 100%;
    background:RGB(49,51,64);
}
.menu .head .logo{
    width: 38px; 
    height: 32px; 
    margin-top:15px; 
    margin-left: 10px;
}
.menu .item{
    width: 48px;
    float:left;
    height: 48px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 1px;
    white-space: nowrap;
}
.menu .item .img{
    float: left;
    width: 32px;
    height: 32px;
    margin-left:5px;
    padding: 8px;
    border-radius:3px;
}
.menu .item .img img{
    width: 24px;
    height: 24px;
    margin-left:3px;
    margin-top:3px;
    padding:0px;
}
.menu .item .img:hover{
    background: RGB(85,78,105);
}
.menu .item .tips{
    position: absolute;
    width:auto;
    padding:10px;
    margin-top:5px;
    margin-left:68px;
    background: white;
    border-radius: 3px;
    visibility: hidden;
    -webkit-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
    -moz-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
    -ms-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
    -o-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
    filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
}
.menu .item.active .tips{
    visibility: visible;
    width: auto;
    font-size: 15px;
    font-family: 'Roboto';
}
.menu .item.active .tips label{
    position:relative; 
    padding-left:10px;
    padding-right:10px;
    text-align: left;
    white-space: nowrap;
}
.menu .item .no_read_chat{
    float:left;
    border-radius: 50px;
    margin-top:30px;
    margin-left: 35px;
    background: #09d261;
    border-radius: 12px;
    padding: 0px 5px 0px 5px;
    text-align: center;
    position: absolute;
}
.menu .item .no_read_chat label{
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    height: 19px;
    line-height: 20px;
    min-width: 9px;
    vertical-align: top;
}
