.bg-box-ia {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

/* Tooltip AI */

.tooltip-ai {
    cursor: pointer;
    height: 40px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    border-radius: 5px;
    opacity: 1;
    z-index: 99999;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.tooltip-ai .box {
    font-size: "15px";
    font-weight: "600";
}

.tooltip-ai .box span {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.tooltip-ai .box img {
    width: 17px;
    margin-right: 10px;
    margin-top: -5px;
}

/* Container AI */

.container-open-ai {
    position: absolute;
}

.container-open-ai .content-header-ai {
    position: absolute;
    z-index: 9999;
    width: 100%;
}

.container-open-ai .content-header-ai .input-ai {
    width: 100%;
    height: 35px;
    font-size: 14px;
    border: white solid 1px;
    border-radius: 5px;
    padding: 0px 35px;
    outline: none;
    color: #8898aa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.container-open-ai .content-header-ai .icon-star {
    width: 18px;
    position: absolute;
    z-index: 99999;
    top: 10px;
    left: 10px;
}

.container-open-ai .content-header-ai .icon-close-ai {
    width: 18px;
    position: absolute;
    z-index: 99999;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
}

.container-open-ai .content-header-ai .writing-response-ai {
    top: 7px;
    margin-left: 24px;
    position: absolute;
    z-index: 99999;
    display: none;
}

.container-open-ai .content-header-ai .writing-response-ai .text-writing-response-ai {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    color: #8898aa;
}

.container-open-ai .content-header-ai .writing-response-ai .img-writing-response-ai {
    width: 23px;
}

.container-open-ai .content-body-ai {
    position: absolute;
    height: auto;
    width: 100%;
    top: 35px;
    display: none;
    z-index: 9999;
}

.container-open-ai .content-body-ai .field-response-ai {
    height: 26px;
    max-height: 98px;
    width: 100%;
    padding: 0.2rem 0.75rem;
    outline: none;
    resize: none;
    border: solid 1px white;
    overflow-y: auto;
    border-radius: 5px;
    font-size: 14px;
    color: #8898aa;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.20);
}

.container-open-ai .content-footer-ai {
    display: none;
    position: relative;
    background: white;
    height: 30px;
    z-index: 9999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.20);
}

.container-open-ai .content-footer-ai .open-options-ai {
    position: absolute;
    bottom: 5px;
    z-index: 9999;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 600;
    left: 9px;
    background-color: #e4e4e4b3;
    padding: 2px 7px;
    border-radius: 3px;
    color: #2f2f2fc9;
}

.container-open-ai .content-footer-ai .text-replace-ai {
    right: 11px;
    position: absolute;
    bottom: 5px;
    z-index: 999;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 600;
    background-color: #e4e4e4b3;
    color: #2f2f2fc9;
    padding: 2px 5px 2px 18px;
    border-radius: 3px;
}

.container-open-ai .content-footer-ai .open-options-ai:hover,
.container-open-ai .content-footer-ai .text-replace-ai:hover {
    background-color: #dededeb3;

}

.container-open-ai .content-footer-ai .icon-replace-ai {
    width: 10px;
    bottom: 10px;
    position: absolute;
    right: 76px;
    cursor: pointer;
    z-index: 999;
}

/* Lista de opções da IA */

.list-ai {
    display: block;
    z-index: 9999;
    position: absolute;
    width: 302px;
    border-radius: 5px;
    border: white solid 1px;
    margin-top: 37px;
    padding-bottom: 6px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.list-ai .header-ai {
    padding: 3px 10px;
}

.list-ai .header-ai span {
    font-size: 0.8rem;
    font-weight: 600;
    color: #6c6969c9;
    padding: 5px 0px;
}

.list-ai .select-ai {
    overflow-y: scroll;
    height: 185px;
    max-height: 200px;
}

.list-ai .select-ai .option-ai {
    padding: 4px 10px;
    cursor: pointer;
    display: flex;
}

.list-ai .select-ai .option-ai:hover {
    background: #f6f9fc;
}

.list-ai .select-ai .option-ai span {
    font-size: 0.9rem;
}

.list-ai .select-ai .option-ai .box-img-ai {
    width: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

/* Estilização scroll */

.container-open-ai .field-response-ai::-webkit-scrollbar,
.container-open-ai .field-response-ai::-webkit-scrollbar-thumb,
.list-ai .select-ai::-webkit-scrollbar,
.list-ai .select-ai::-webkit-scrollbar-thumb {
    width: 6px;
    color: #929292a6;
    border-radius: .375rem;
}

.container-open-ai .field-response-ai::-webkit-scrollbar-thumb,
.list-ai .select-ai::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 4px !important;
}

/* class para mudar input quando tem textarea */

.border-change-ai {
    border-radius: 5px 5px 0 0 !important;
    border-bottom: 1px #dee2e6 solid !important;
}

.border-none-ai {
    border-radius: 0px !important;
}

.border-ai {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.alert-error-ai {
    color: #ff5757 !important;
    font-size: 12px !important;
}