.icon-ia {
    transform: rotate(360deg) scaleY(-1);
}

.list-ai {
    position: absolute;
    right: 25px;
    z-index: 2;
    min-width: 291px;
    font-family: 'Roboto';
    border-radius: 3px;
    background: #f3f2f2;
    padding: 3px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 65%);
}

.list-ai .header-ai {
    padding: 7px 3px 6px 8px;
}

.list-ai .header-ai span {
    font-size: 0.8rem;
    font-weight: 600;
    /* color: #6c6969c9; */
    padding: 5px 0px;
}

.list-ai .select-ai {
    overflow-y: scroll;
    height: 185px;

}

.list-ai .select-ai .option-ai {
    padding: 7px 20px;
    cursor: pointer;
}

.list-ai .select-ai .option-ai:hover {
    /* background: #f6f9fc; */
    /* background-color: #24262779; */
    background-color: #31333552;
}

.list-ai .select-ai .option-ai .span {
    font-size: 0.938rem;
}

.list-ai .select-ai::-webkit-scrollbar,
.list-ai .select-ai::-webkit-scrollbar-thumb {
    width: 6px;
    color: #929292a6;
    border-radius: .375rem;
}

.list-ai .select-ai::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 4px !important;
}


/* MODO DARK */

.list-ai.dark-ai {
    color: white !important;
    /* background: rgb(56, 68, 77)!important; */
    background: rgb(46 54 60) !important;
    box-shadow: 0 4px 4px rgb(0 0 0 / 50%);
}

.list-ai.dark-ai span {
    color: white !important;
}

.list-ai.dark-ai .select-ai .option-ai:hover {
    /* background-color: #31333552; */
    background-color: #24262779 !important;
}