.alert-status {
    float: left;
    font-size: 12px;
    color: red;
    margin-top: 3px;
    margin-left: 3px;
    width: 100%;
}

.box-img .container {
    width: 100%;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    height: 150px;
    border: solid 1px #d8d8d8;
    transition: 0.3s;
}

.box-img .text {
    text-align: center;
    margin-top: 29px;
}

.box-img .img {
    text-align: center;
}

.box-img img {
    margin-top: 11px;
    width: 56px;
}

.box-img .container:hover {
    width: 100.2%;
    box-shadow: 0px 10px 15px 5px #b8b8b82b;
}

.count_caracter {
    font-size: 14px;
}

.change_type_icon {
    display: none;
}

.change_type_icon:hover {
    cursor: pointer;
}

.change_type_icon img {
    width: 25px;
}

.change_type_icon_img {
    margin-bottom: -50px;
    z-index: 1;
}

/*** Checkbox Slider ***/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*** Input Files ***/

.input-container {
    text-align: center;
    cursor: pointer;
    height: 50px;
    border-radius: 6px;
    padding-top: 13px;
    background-color: #e6e5e5e0;
    box-shadow: 0 4px 4px rgb(0 0 0 / 1%);
}

.input-container .header .img {
    float: left;
}

.check {
    cursor: pointer;
}

/***  DropZ ***/

.drop-status {
    width: 100%;
    margin-top: 13px;
    min-height: 245px;
    min-height: 215px;
    padding-left: 6px;
    padding-right: 6px;
    border: 2px #dee2e6 dashed;
}

.drop-status .drop-inner-img {
    text-align: center;
    margin-bottom: 13px;
}

.drop-status .drop-inner-img .drop-icon {
    margin-top: 46px;
    border-radius: 10px;
    box-shadow: 9px 6px 5px rgb(50 50 50 / 66%);
}

.drop-status .drop-inner-title {
    text-align: center;
    margin-bottom: 3px;
}

.drop-status .drop-inner-text {
    text-align: center;
    font-size: 15px
}

.bfather {
    vertical-align: top;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

.box-status {
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 430px;
    cursor: all-scroll;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    border: solid 1px #0000005e;
    box-shadow: 0 4px 4px rgb(0 0 0 / 60%);
}

/* .box-status .img-status {
    height: 100%;
    width: 100%;
} */

.box-status .img-status .video {
    height: 430px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
}

.box-status .img-status .i_st {
    cursor: move;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.box-status .img-status .close-status {
    display: none;
    position: absolute;
    right: 5%;
    width: 37px;
    cursor: pointer;
    margin-top: -195px;
    background-color: white;
    padding: 1px;
    border-radius: 20px;
}

.box-status .textarea-status {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 0;
    left: 8px;
    right: 8px;
    position: absolute;
    margin: auto;
    margin-bottom: 12%;
}

.box-status .textarea-status .tex-area {
    width: 100%;
    height: 100%;
    font-size: 15px;
    min-height: 100px;
    max-height: 362px;
    color: #8898aa;
    padding-left: 8px;
    background: #ffffffcf;
    border-radius: 5px;
    outline: none;
    border: solid 1px #dee2e6;
    box-shadow: 0 4px 4px rgb(0 0 0 / 22%);
}

.tex-area::-webkit-scrollbar,
.tex-area::-webkit-scrollbar-thumb,
.tex-area-onlytext::-webkit-scrollbar {
    width: 6px;
    color: #636363a6;
    border-radius: .375rem;
}

.textarea-status::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 4px !important;
}

/*** View Status ***/

.check-box {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.box-inner-datatable {
    width: 52px;
    height: 53px;
    margin-top: -4px;
    margin-bottom: -4px;
}

.box-inner-datatable video,
.box-inner-datatable img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: solid 1px #79839c42;
}

.table-action-deleted,
.table-action-disabled {
    color: #d6d6d6 !important
}

.status-view {
    margin: 0
}

.btn-cancel {
    right: 2%;
    position: absolute;
}

.checkbox-table {
    position: absolute;
    padding-left: 10.4px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 10.9px;
    margin-top: -17px;
    border-radius: 30px;
    cursor: pointer;
}

.checkbox-table-disabled {
    position: absolute;
    padding-left: 10.4px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 10.9px;
    margin-top: -17px;
    border-radius: 30px;
    cursor: pointer;
}

.checkbox-table:hover {
    background-color: #e9e9e9;
    transition: 0.1s ease-in;
}

.preview-thumb {
    width: 170px;
    height: 170px;
    margin-top: -102px;
    margin-left: 42px;
    position: absolute;
}

.preview-thumb video,
.preview-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.template-whatsapp-status-view {
    margin-left: 2px;
}


/*** View Broadcast ***/

.check-box {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.box-inner-datatable {
    width: 52px;
    height: 53px;
    margin-top: -4px;
    margin-bottom: -4px;
}

.box-inner-datatable img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: solid 1px #79839c42;
}

.broadcast-view {
    justify-content: space-around;
    border: solid 1px #dee2e6;
    margin-left: 0px;
    margin-right: 0px;
    padding: 11px;
}

.title-toggle-view {
    position: absolute;
    margin-left: 13px;
    margin-top: 3px;
}

.btn-cancel {
    right: 2%;
    position: absolute;
}

.checkbox-table {
    position: absolute;
    padding-left: 10.4px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 10.9px;
    margin-top: -17px;
    border-radius: 30px;
    cursor: pointer;
}

.checkbox-table:hover {
    background-color: #e9e9e9;
    transition: 0.1s ease-in;
}

.preview-thumb {
    width: 170px;
    height: 170px;
    margin-top: -102px;
    margin-left: 42px;
    position: absolute;
}

.preview-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.view-broadcast span {
    font-size: 14px;
    color: #525f7fc9;
}

.view-broadcast .view-channel .list-channel {
    padding-bottom: 10px;
}

.view-channel,
.view-schedule,
.view-title.view-text {
    padding: 2px 0px 4px 0px;
}

.view-broadcast .view-channel,
.view-broadcast .view-text,
.view-broadcast .view-preview {
    padding: 6px 0px 0px 0px;
}

.view-broadcast .view-preview {
    margin: 15px 0px 0px 0px;
}

.view-channel .form-control-label,
.view-text .form-control-label {
    display: block;
}

.view-broadcast .view-preview .container-preview {
    width: 280px;
    border-radius: 6px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 45%);
    border-top: solid 1px rgba(78, 78, 78, 0.159);
}

.view-broadcast .view-preview .container-preview .preview-header {
    height: 50px;
}

.view-broadcast .view-preview .container-preview .preview-header .profile {
    margin-top: 12px;
    margin-left: 18px;
}

.view-broadcast .view-preview .container-preview .preview-header .profile img {
    width: 38px;
}

.view-broadcast .view-preview .container-preview .preview-header .name-page {
    float: left;
    margin-top: -37px;
    margin-left: 68px;
    font-weight: bold;
}

.view-broadcast .view-preview .container-preview .preview-body {
    padding: 0px 15px;
    height: auto;
}

.view-broadcast .view-preview .container-preview .preview-body .box-slider .arrow-left {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 48%;
    left: 5%;
    z-index: 999;
    font-size: 26px;
    color: #ffffffde;
    border-radius: 30px;
    background-color: #2e2e2e73;
    box-shadow: 0 4px 4px rgb(195 195 195 / 25%);
}

.view-broadcast .view-preview .container-preview .preview-body .box-slider .arrow-right {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 48%;
    right: 5%;
    z-index: 999;
    font-size: 26px;
    color: #ffffffde;
    border-radius: 30px;
    background-color: #2e2e2e73;
    box-shadow: 0 4px 4px rgb(195 195 195 / 25%);
}

.view-broadcast .view-preview .container-preview .preview-body .box-slider {
    position: relative;
}

.view-broadcast .view-preview .container-preview .preview-body .box-slider .slider-item {
    max-height: 445px;
}

.view-broadcast .view-preview .container-preview .preview-body .box-slider img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.view-broadcast .view-preview .container-preview .preview-footer {
    padding: 12px 15px;
    height: auto;
}

.tex-area {
    resize: none;
}

.resend-approval {
    color: #007AFF;
    cursor: pointer;
}

.resend-approval-block {
    color: #525f7fc9;
    cursor: not-allowed;
}

/* View Approval */

.content-approval {
    background: linear-gradient(89.55deg, #00BFA5 0%, #007AFF 16.67%, #2263D3 78.12%, #9C74F7 100%);
    overflow-x: hidden;
    height: 100vh;
}

.content-row {
    height: 100vh;
}

.sidebar {
    height: 100%;
    padding: 30px 25px 0px 25px;
    background-color: white;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    margin-right: -15px;
}

.logo-img {
    padding-top: 30px;
    padding-right: 50px;
}

.logo-img img {
    width: 150px;
}

.view-approval {
    margin-bottom: 15px;
}

.preview-approval {
    padding-top: 10px;
    padding-bottom: 50px;
}

.img-bg-ta {
    width: 40%;
    position: absolute;
    top: -40px;
    left: 65%;
}

.approval {
    width: 800px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.action-buttons i {
    margin-left: 5px;
}

.wa-template {
    width: 90%;
    max-width: 340px;
    align-self: center;
    background-color: black;
}

.wa-header {
    position: absolute;
    z-index: 5;
}

.wa-header,
.wa-header img {
    margin-top: 10px;
    width: 100%;
}

.wa-header .col-img {
    padding: 0px !important;
}

.wa-body {
    height: 604px;
    width: 100%;
}

.box-broadcast-approval {
    width: 340px;
    height: 604px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-broadcast-approval video {
    width: 100%;
    max-height: 604px;
    object-fit: cover;
}

.box-broadcast-approval .box-inner {
    position: absolute;
    left: 0;
    right: 0;
}


.box-broadcast-approval .textarea-status {
    width: 100%;
    bottom: -5px;
    position: absolute;
}

.box-broadcast-approval .textarea-status .tex-area {
    height: 100%;
    width: 100%;
    font-size: 15px;
    max-height: 450px;
    resize: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: 0px solid white;
}


.box-broadcast-approval .textarea-status-onlytext {
    width: 100%;
    position: absolute;
}

.box-broadcast-approval .textarea-status-onlytext .tex-area-onlytext {
    height: 100%;
    width: 100%;
    font-size: 18px;
    max-height: 450px;
    resize: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border: 0px solid white;
    text-align: center;

}

.box-broadcast-approval .textarea-status a {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 240px;
    color: white;
    font-size: 14px;
}

.box-broadcast-approval .img-broadcast {
    cursor: all-scroll;
    max-height: 100%;
}

.box-broadcast .img-broadcast .video {
    height: 100%;
}

.box-broadcast-approval .img-broadcast .i_st {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box-broadcast-approval .box-inner .tail {
    width: 63px;
    height: 28px;
    right: 75px;
    top: 252px;
    display: none;
    margin-top: 11px;
    position: absolute;
    border-top-left-radius: 48px;
    border-bottom-right-radius: 6px;
    background: linear-gradient(to right, rgb(0 0 0 / -57%) 0%, rgb(0 0 0) 107%);
}

.box-broadcast-approval .box-inner .tail-byte {
    float: right;
    font-size: 12px;
    margin-top: 6px;
    color: #ececec;
    margin-right: 5px;
}

.box-broadcast-approval .box-inner .main-content .title {
    text-align: center;
    position: absolute;
    top: 49%;
    left: 20%;
    right: 19%;
}

.box-broadcast-approval .box-inner .main-content .icon-audio {
    text-align: center;
    text-align: center;
    position: absolute;
    font-size: 42px;
    top: 27%;
    left: 20%;
    right: 19%;
}

.box-broadcast-approval .box-inner .main-content .audio {
    position: absolute;
    top: 66%;
    left: 3%;
    right: 3%;
    width: 94%;
}

.box-status .count-caracter {
    padding-left: 12px;
    padding-right: 6px;
    border-radius: 5px;
    border: solid 1px #dee2e6;
    bottom: 0;
    left: 15px;
    right: 14px;
    position: absolute;
    margin: auto;
    margin-bottom: 5%;
    background: #ffffffcf;
    color: #8898aa;
    font-size: .875rem;
}

.box-status .count-caracter .quantity-caracter {
    padding-left: 8px;
    font-weight: 500;
    color: red;
}

#modal-preview-campaign .modal-body .img-justify,
#modal-preview-campaign-success .modal-body .img-justify {
    text-align: center;
    margin-bottom: 20px;
}

#modal-preview-campaign .modal-body .text-movel {
    margin-top: 1.5rem !important;
    margin-left: 1.5rem;
}

#modal-preview-campaign .modal-body input {
    text-align: center;
}

#modal-campaign-overlap .modal-body .btn-modal,
#modal-campaign-estimate .modal-body .btn-modal {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 24px;
    width: 100%;
    height: 43px;
    background: #EEF2F8;
    border-radius: 6px;
    margin-top: 21px;
    cursor: pointer;

}

#modal-campaign-overlap .modal-body .btn-modal {
    gap: 0px;
}

#modal-campaign-overlap .modal-body .btn-modal:hover,
#modal-campaign-estimate .modal-body .btn-modal:hover {
    background-color: #e6ebf3;
}

#modal-campaign-overlap .modal-body span,
#modal-campaign-estimate .modal-body span {
    font-size: 14px;
}

#modal-campaign-overlap .list-numbers,
#list-numbers {
    font-weight: 600;
}

#modal-campaign-overlap .modal-body .btn-modal .text:first-child,
#modal-campaign-estimate .modal-body .btn-modal .text:first-child {
    font-weight: bold;
    font-size: 15px;
    width: 40%;
}

#modal-campaign-overlap .modal-body .btn-modal .text,
#modal-campaign-estimate .modal-body .btn-modal .text {
    font-size: 14.22px;
    display: block;
    width: 70%;
}

@media only screen and (max-width: 768px) {
    .logo-img {
        padding-top: 10px;
        padding-right: 50px;
    }

    .card-body h6 {
        margin-bottom: 10px !important;
    }

    .wa-template {
        margin-bottom: 20px;
    }

    .view-approval {
        margin-bottom: 0px;
    }
}