.search{
    float: left;
    margin-left: 68px;
    width: calc(100% - 88px);
}
div.dt-buttons{
    position:relative;
    float:right;
    margin-left: 10px;
}
div.dataTables_filter{
    float: center;
}