body {
    font-family: 'Source Sans 3', sans-serif;
    background: url("/assets/img/background_leads.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

h1 {
    color: #0056ff;
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: none;
}

p {
    font-size: 16px;
    margin-bottom: 30px;
}

strong {
    font-weight: bold;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

.icon {
    font-size: 48px;
    color: #0056ff;
    margin-bottom: 20px;
}