.wa-template {
    width: 340px;
    background-image: url("https://app.talkall.com.br/assets/img/broadcast_approval/background_wa.png");
    padding-bottom: 5px;
    align-self: left;
}

.wa-body {
    height: 500px;
    width: 340px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 39px;
    padding-bottom: 5px;
    overflow-y: scroll;
}

.wa-body::-webkit-scrollbar,
.wa-body::-webkit-scrollbar-thumb {
    width: 6px;
    color: #929292a6;
    border-radius: .375rem;
}

.wa-body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 4px !important;
}

.box-broadcast-approval {
    border: solid 5px #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
    margin: 0px -15px;
    max-width: 285px;
    position: relative;
    background-color: white;
}

.box-broadcast-approval .box-inner {
    background-color: #FFFFFF;
    height: 275px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
}

.header-message {
    background-color: white;
}

.header-message-media {
    height: 140px;
    width: 275px;
    background-color: rgb(204, 208, 213);
    border-radius: 10px;
    text-align: center;
}

.header-message-media .far {
    color: white;
    margin-top: 35px;
}

.box-broadcast-approval .header-message-text {
    font-size: 15px;
    font-weight: bold;
    color: #232323;
    padding: 0px 10px 0px 10px;

}

.box-broadcast-approval .textarea-status {
    padding: 2px;
    background-color: #FFFFFF;
}

.box-broadcast-approval .textarea-status .tex-area {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: solid 0px #b8b8b800;
    background-color: #FFFFFF;
    resize: none;
    color: black;
    font-weight: 500;
    margin-bottom: 0px;
    white-space: break-spaces;
}

.box-broadcast-approval .textarea-status .tex_footer {
    width: 100%;
    font-size: 13px;
    padding-left: 8px;
    border-radius: 5px;
    border: solid 0px #b8b8b800;
    background-color: #FFFFFF;
    resize: none;
    color: grey;
}

.box-broadcast-approval hr {
    margin: 0px;
}

.buttons-message {
    text-align: center;
    background-color: white;
}

.buttons-message .button_link {
    display: block;
    font-size: 13px;
    padding-top: 8px;
    color: #00a5f4;
}

.buttons-message .button_link i {
    margin-right: 3px;
}

.buttons-quick-reply {
    margin-left: -15px;
    width: 285px;

}

.buttons-quick-reply .btn-quick-reply {
    background-color: white;
    border: 0px;
    color: #00a5f4;
    padding: 10px 15px;
    font-size: 13px;
    width: 285px;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 3px;
    display: inline;
}

.buttons-quick-reply .btn-quick-reply:focus {
    outline: none;
}

.view-template span {
    font-size: 14px;
    color: #525f7fc9;
}


.div_media_radio, .div_media_radio_edit {
    text-align: center;
    padding: 20px 0px 40px 0px;
    border: #dee2e6 solid 1px;
    border-radius: 10px;
}

.div_media_radio:hover {
    background: linear-gradient(119deg, rgb(58 193 140 / 50%) 00%, rgb(53 173 191 / 50%) 100%);
    box-shadow: 5px 5px 20px #999999;
    border: #dee2e6 solid 0px;
    border-radius: 0px;
    -webkit-transition: border-radius 1s;
    transition: border-radius 1s;
}

.div_media_radio_edit.div_media_radio_selected,
.div_media_radio.div_media_radio_selected {
    background: linear-gradient(119deg, rgb(58 193 140 / 50%) 00%, rgb(53 173 191 / 50%) 100%);
    box-shadow: 5px 5px 20px #999999;
    border: #dee2e6 solid 0px;
    border-radius: 0px;
}

.div_media_radio .far {
    color: #6a7786;
}

.div_media_radio_edit {
    background-color: #e9ecef;
}

.custom-control.custom-radio.custom-control {
    margin-bottom: 10px !important;
}

.header_media_label {
    margin-top: 15px;
    display: block;
    font-weight: 600;
    color: #6a7786;
}


.draggable {
    position: relative;
    border-radius: 6px;
    background-color: #dee2e6;
    margin: 10px 20px;
    padding: 10px 10px 20px 10px;
}

.draggable:hover {
    cursor: grab;
}

.draggable.dragging {
    opacity: .5;
}

.draggable .fas.fa-grip-vertical {
    position: absolute;
    top: 45px;
    left: -17px;
}

.draggable .fas.fa-times {
    position: absolute;
    top: 45px;
    left: 1027px;
}

.div_quick_answer_button .fas.fa-times:hover,
.draggable .fas.fa-times:hover {
    cursor: pointer;
}

.div_quick_answer_button .fas.fa-times {
    position: absolute;
    top: 45px;
    left: 360px;
}

.ul_variables_error {
    background-color: #ffd50079;
    border-radius: 0px 0px 6px 6px;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style-type: none;
}

.ul_variables_error li {
    font-size: 14px;
}

.ul_variables_error li i {
    margin-right: 10px;
}

.span_dynamic_url {
    position: absolute;
    top: 40px;
    left: 445px;
    color: #b6babe;
}

.loading_req_modal_dialog {
    transform: translate(0%, 0%) !important;
}

.loading-req {
    position: fixed;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    top: 40%;
    left: 45%;
}

.loading-req img {
    width: 145px;
}