.faq_posts p{
    text-align: justify;
}

@media screen and (max-width: 899px){
    .faq_posts img{
        max-width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 900px){
    .faq_posts img{
        max-width: 45%;
        height: 45%;
    }
}
