.main-without-permission {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
}

.without-permission {
    flex-direction: column;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    width: 500px;
    border-radius: 20px;
    background-color: #FFF;
    padding: 10px 60px 30px 60px;
}

.without-permission .row {
    margin-bottom: 20px;
}

.without-permission .row .text-title {
    color: #334155;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.without-permission .row .text-body {
    color: #64748B;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.without-permission .logo {
    margin-bottom: 40px;
}

.without-permission .logo img {
    width: 260px;
}

.without-permission .form-group {
    width: 100%;
    position: relative;
}

.without-permission .form-group .btn-login {
    font-weight: 700;
    font-size: 16px;
    border: none;
    width: 150px;
    height: 44px;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2263D3;
    color: #FFFFFF;
}